[theme="standard"] {
    --primary-hue: 219;

    /* ANIMATION */
    --animation-duration: 0.3s;

    /* COLORS */
    /* background */
    --base-background: hsla(var(--primary-hue), 15%, 90%, 100%);
    --overlay-background: hsla(0, 0%, 90%, 90%);

    --input-background: var(--surface-background);
    --surface-background: hsla(0, 0%, 100%, 50%);

    --progress-background: var(--surface-background);
    --progress-value-background: hsl(var(--primary-hue), 99%, 53%);

    --slider-background: hsl(0, 0%, 70%);
    --slider-value-background: hsl(var(--primary-hue), 99%, 53%);
    --slider-thumb-background: hsl(0, 0%, 100%);

    --checkbox-background: var(--surface-background);
    --checkbox-checked-background: hsl(var(--primary-hue), 99%, 53%);
    --radio-checked-foreground: white;

    --focus-outline-color: hsl(var(--primary-hue), 99%, 53%);

    --disabled-button-background: hsla(0, 0%, 0%, 3%);

    --standard-button-background: hsla(0, 0%, 100%, 50%);
    --standard-button-hover: hsla(0, 0%, 85%, 50%);
    --standard-button-active: hsla(0, 0%, 70%, 50%);
    --standard-button-foreground: var(--text-normal);

    --primary-button-background: hsl(var(--primary-hue), 100%, 50%);
    --primary-button-hover: hsl(var(--primary-hue), 100%, 40%);
    --primary-button-active: hsl(var(--primary-hue), 100%, 30%);
    --primary-button-foreground: white;

    --danger-button-background: hsl(357, 75%, 50%);
    --danger-button-hover: hsl(357, 75%, 40%);
    --danger-button-active: hsl(357, 75%, 30%);
    --danger-button-foreground: white;

    /* border */
    --standard-border-color: hsla(0, 0%, 0%, 0%);
    --input-border-color: hsla(0, 0%, 0%, 3%);
    --input-bottom-border-color: hsla(0, 0%, 0%, 20%);
    --overlay-border-color: hsla(0, 0%, 0%, 15%);
    --outline-color: hsl(var(--primary-hue), 99%, 53%);
    --hr-color: hsla(0, 0%, 0%, 10%);

    /* text */
    --text-normal: #161616;
    --text-link: hsl(var(--primary-hue), 100%, 50%);
    --text-placeholder: hsla(0, 0%, 0%, 30%);

    --text-success: #24a148;
    --text-warning: #f1c21b;
    --text-error: #da1e28;
    --text-info: #0043ce;

    /* DEPTH */
    --button-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0%);
    --input-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0%);
    --progress-value-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0%);
    --slider-value-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0%);
    --slider-thumb-shadow: 0px 0px 5px hsla(0, 0%, 0%, 15%);
    --overlay-shadow: 0px 0px 20px hsla(0, 0%, 0%, 10%);

    --control-backdrop-blur: 120px;
    --overlay-backdrop-blur: 120px;

    /* DIMENTIONS */
    /* text */
    --control-font-size: 0.9rem;
    --icon-size: 1.1rem;
    --button-icon-size: 0.9rem;

    /* spacing */
    --gap-in-grid: 4px;
    --gap-in-control-row: 0px;
    --gap-in-controls: 25px;

    --x-padding-in-controls: 16px;
    --y-padding-in-controls: 10px;
    --content-padding: 16px;

    --hr-margin: 4px;

    --headline-top-margin: 18px;
    --headline-bottom-margin: 8px;

    /* sizes */
    --control-height: 34px;
    --progress-bar-height: 24px;
    --slider-height: 4px;
    --slider-thumb-width: 6px;
    --slider-thumb-height: 18px;
    --checkbox-size: 16px;

    --max-input-width: 24rem;
    --max-content-width: 38rem;

    /* borders & lines */
    --border-width: 0px;
    --outline-width: 2px;
    --line-width: 1px;

    /* corners */
    --button-corner-radius: 0px;
    --textfielld-corner-radius: 0px;
    --progress-bar-corner-radius: 0px;
    --slider-corner-radius: 0px;
    --slider-thumb-corner-radius: 10px;
    --surface-corner-radius: 0px;
    --overlay-corner-radius: 0px;

    /* FONTS */
    --font-main: IBM Plex Sans;
    --font-mono: IBM Plex Mono;
}

@media (prefers-color-scheme: dark) {
    [theme="standard"] {
        /* COLORS */
        /* background */
        --base-background: hsla(0, 0%, 0%, 100%);
        --overlay-background: hsla(0, 0%, 0%, 70%);

        --surface-background: hsla(0, 0%, 15%, 50%);
        --slider-background: hsl(0, 0%, 15%);

        --disabled-button-background: hsla(0, 0%, 0%, 3%);

        --standard-button-background: hsla(0, 0%, 15%, 50%);
        --standard-button-hover: hsla(0, 0%, 30%, 50%);
        --standard-button-active: hsla(0, 0%, 45%, 50%);

        /* border */
        --standard-border-color: hsla(0, 0%, 100%, 0%);
        --input-border-color: hsla(0, 0%, 100%, 0%);
        --input-bottom-border-color: hsla(0, 0%, 100%, 20%);
        --overlay-border-color: hsla(0, 0%, 100%, 20%);
        --outline-color: #0f62fe;
        --hr-color: hsla(0, 0%, 100%, 10%);

        /* text */
        --text-normal: white;
        --text-link: hsl(var(--primary-hue), 100%, 70%);
        --text-placeholder: hsla(0, 0%, 0%, 30%);
    }
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("fonts/IBMPlexSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: IBM Plex Mono;
    src: url("fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: IBM Plex Serif;
    src: url("fonts/IBMPlexSerif-Regular.ttf");
}
