[theme="aero"] {
    --primary-hue: 205;

    /* ANIMATION */
    --animation-duration: 0.3s;

    /* COLORS */
    /* background */
    --base-background: hsla(var(--primary-hue), 40%, 97%, 100%);
    --overlay-background: linear-gradient(
        175deg,
        hsla(var(--primary-hue), 50%, 95%, 70%) 0px,
        hsla(var(--primary-hue), 50%, 80%, 70%) 14px,
        hsla(var(--primary-hue), 50%, 75%, 70%) 18px,
        hsla(var(--primary-hue), 50%, 85%, 70%) 60px,
        hsla(var(--primary-hue), 50%, 90%, 70%) 60%,
        hsla(var(--primary-hue), 50%, 95%, 70%) 100%
    );

    --input-background: white;
    --surface-background: hsla(0, 0%, 0%, 5%);

    --progress-background: linear-gradient(
        to bottom,
        hsla(0, 0%, 85%, 100%),
        hsla(0, 0%, 97%, 100%)
    );
    --progress-value-background: linear-gradient(
        to bottom,
        hsl(130, 80%, 50%) 0%,
        hsl(130, 80%, 55%) 50%,
        hsl(130, 80%, 45%) 51%,
        hsl(130, 80%, 60%) 100%
    );

    --slider-background: linear-gradient(
        to bottom,
        hsla(0, 0%, 85%, 100%),
        hsla(0, 0%, 97%, 100%)
    );
    --slider-value-background: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 80%, 50%) 0%,
        hsl(var(--primary-hue), 80%, 55%) 50%,
        hsl(var(--primary-hue), 80%, 45%) 51%,
        hsl(var(--primary-hue), 80%, 60%) 100%
    );
    --slider-thumb-background: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 50%, 95%) 0%,
        hsl(var(--primary-hue), 50%, 90%) 50%,
        hsl(var(--primary-hue), 50%, 85%) 51%,
        hsl(var(--primary-hue), 50%, 95%) 100%
    );

    --checkbox-background: linear-gradient(to bottom, #f6f6f6 0%, #eaeaea 100%);
    --checkbox-checked-background: linear-gradient(
        to bottom,
        #c2dbff 0%,
        #7baaff 100%
    );
    --radio-checked-foreground: linear-gradient(
        to bottom,
        #f6f6f6 0%,
        #eaeaea 100%
    );

    --focus-outline-color: hsl(var(--primary-hue), 50%, 53%);

    --disabled-button-background: linear-gradient(
        to bottom,
        #e9e9e9 0%,
        #d9d9d9 100%
    );

    --standard-button-background: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 50%, 95%) 0%,
        hsl(var(--primary-hue), 50%, 90%) 50%,
        hsl(var(--primary-hue), 50%, 85%) 51%,
        hsl(var(--primary-hue), 50%, 95%) 100%
    );
    --standard-button-hover: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 50%, 90%) 0%,
        hsl(var(--primary-hue), 50%, 85%) 50%,
        hsl(var(--primary-hue), 50%, 80%) 51%,
        hsl(var(--primary-hue), 50%, 90%) 100%
    );
    --standard-button-active: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 50%, 85%) 0%,
        hsl(var(--primary-hue), 50%, 80%) 50%,
        hsl(var(--primary-hue), 50%, 75%) 51%,
        hsl(var(--primary-hue), 50%, 85%) 100%
    );
    --standard-button-foreground: var(--text-normal);

    --primary-button-background: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 80%, 90%) 0%,
        hsl(var(--primary-hue), 80%, 85%) 50%,
        hsl(var(--primary-hue), 80%, 80%) 51%,
        hsl(var(--primary-hue), 80%, 90%) 100%
    );
    --primary-button-hover: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 80%, 85%) 0%,
        hsl(var(--primary-hue), 80%, 80%) 50%,
        hsl(var(--primary-hue), 80%, 75%) 51%,
        hsl(var(--primary-hue), 80%, 85%) 100%
    );
    --primary-button-active: linear-gradient(
        to bottom,
        hsl(var(--primary-hue), 80%, 80%) 0%,
        hsl(var(--primary-hue), 80%, 75%) 50%,
        hsl(var(--primary-hue), 80%, 70%) 51%,
        hsl(var(--primary-hue), 80%, 80%) 100%
    );
    --primary-button-foreground: var(--text-normal);

    --danger-button-background: linear-gradient(
        to bottom,
        hsl(0, 80%, 90%) 0%,
        hsl(0, 80%, 85%) 50%,
        hsl(0, 80%, 80%) 51%,
        hsl(0, 80%, 90%) 100%
    );
    --danger-button-hover: linear-gradient(
        to bottom,
        hsl(0, 80%, 85%) 0%,
        hsl(0, 80%, 80%) 50%,
        hsl(0, 80%, 75%) 51%,
        hsl(0, 80%, 85%) 100%
    );
    --danger-button-active: linear-gradient(
        to bottom,
        hsl(0, 80%, 80%) 0%,
        hsl(0, 80%, 75%) 50%,
        hsl(0, 80%, 70%) 51%,
        hsl(0, 80%, 80%) 100%
    );
    --danger-button-foreground: var(--text-normal);

    /* border */
    --standard-border-color: #a9a9a9;
    --input-border-color: #a9a9a9;
    --input-bottom-border-color: #a9a9a9;
    --overlay-border-color: hsla(0, 0%, 0%, 20%);
    --outline-color: hsl(var(--primary-hue), 99%, 53%);
    --hr-color: hsla(0, 0%, 0%, 10%);

    /* text */
    --text-normal: #161616;
    --text-link: hsl(var(--primary-hue), 100%, 50%);
    --text-placeholder: hsla(0, 0%, 0%, 30%);

    --text-success: #24a148;
    --text-warning: #f1c21b;
    --text-error: #da1e28;
    --text-info: #0043ce;

    /* DEPTH */
    --button-shadow: inset 0 1px 1px rgba(255, 255, 255, 50%);
    --input-shadow: inset 1px 1px 2px rgba(0, 0, 0, 10%);
    --progress-value-shadow: 0px 0px 2px hsla(0, 0%, 0%, 30%);
    --slider-value-shadow: 0px 0px 2px hsla(0, 0%, 0%, 30%);
    --slider-thumb-shadow: 0px 0px 2px hsla(0, 0%, 0%, 50%);
    --overlay-shadow: 0px 0px 20px hsla(0, 0%, 0%, 10%);

    --overlay-backdrop-blur: 3px;

    /* DIMENTIONS */
    /* text */
    --control-font-size: 0.8rem;
    --icon-size: 1rem;
    --button-icon-size: 0.8rem;

    /* spacing */
    --gap-in-grid: 4px;
    --gap-in-control-row: 2px;
    --gap-in-controls: 25px;

    --x-padding-in-controls: 12px;
    --y-padding-in-controls: 6px;
    --content-padding: 16px;

    --hr-margin: 4px;

    --headline-top-margin: 18px;
    --headline-bottom-margin: 8px;

    /* sizes */
    --control-height: 24px;
    --progress-bar-height: 18px;
    --slider-height: 8px;
    --slider-thumb-width: 6px;
    --slider-thumb-height: 18px;
    --checkbox-size: 16px;

    --max-input-width: 24rem;
    --max-content-width: 38rem;

    /* borders & lines */
    --border-width: 1px;
    --outline-width: 2px;
    --line-width: 1px;

    /* corners */
    --button-corner-radius: 5px;
    --textfielld-corner-radius: 0px;
    --progress-bar-corner-radius: 10px;
    --slider-corner-radius: 10px;
    --slider-thumb-corner-radius: 10px;
    --surface-corner-radius: 5px;
    --overlay-corner-radius: 6px;

    /* FONTS */
    --font-main: Arial, sans;
    --font-mono: monospace;
}
